name: Unit Tests
on: push
jobs:
  terraform-tests:
    name: Run Terraform Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: "1.7"

      - run: terraform init
      - run: terraform test
