name: Unit Tests
on: push
jobs:
  terraform-tests:
    name: Run Terraform Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: "1.7"

      - run: terraform init
      - run: terraform test
